<template>
  <div class="loding"><div></div><div></div><div></div></div>
</template>

<script>
export default {
  name: "loding"
}
</script>

<style >
/*.loding{*/
/*  display: inline-block;*/
/*  position: relative;*/
/*  width: 80px;*/
/*  height: 80px;*/
/*  border-radius: 50%;*/
/*}*/
/*.loding div {*/
/*  display: inline-block;*/
/*  position: absolute;*/
/*  border-radius: 50%;*/
/*  left: 530px;*/
/*  width: 20px;*/
/*  animation: loding 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;*/
/*}*/
/*.loding div:nth-child(1) {*/
/*  left: 520px;*/
/*  background: #f3c17a;*/
/*  animation-delay: -0.12s ;*/
/*}*/
/*.loding div:nth-child(2) {*/
/*  left: 540px;*/
/*  background: #1cc88a;*/
/*  animation-delay: 0;*/
/*}*/
/*.loding div:nth-child(3) {*/
/*  left: 500px;*/
/*  background: #fd7e14;*/
/*  animation-delay: -0.24s;*/
/*}*/
/*@keyframes loding{*/
/*  0% {*/
/*    top: 8px;*/
/*    height: 64px;*/
/*  }*/
/*  50%, 100% {*/
/*    top: 24px;*/
/*    height: 32px;*/
/*  }*/
/*}*/
.loding {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  left: 530px;
}
.loding div {
  position: absolute;
  border: 4px solid #fff;
  /*background: #1cc88a;*/
  background: #98FB98;
  opacity: 1;
  border-radius: 50%;
  animation: loding 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.loding div:nth-child(2) {
  background: #f3c17a;
  animation-delay: -0.5s;
}
@keyframes loding {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

</style>