<template>
  <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
      <RouterLink class="sidebar-brand d-flex align-items-center justify-content-center" to="/">
        <div class="sidebar-brand-icon">
          <img src="../../assets/admin_panel/img/logo/bd_logo.jpg">
        </div>
        <div class="sidebar-brand-text mx-3">Admin Panel</div>
      </RouterLink>
    <hr class="sidebar-divider my-0">
    <li class="nav-item active" >
      <RouterLink class="nav-link" to="/" >
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></RouterLink>
    </li>
    <hr class="sidebar-divider">
    <div class="sidebar-heading text-center">
      Division
    </div>
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDivision"
         aria-expanded="true" aria-controls="collapseBootstrap">
        <i class="fas fa-window-maximize"></i>
        <span>Division</span>
      </a>
      <div id="collapseDivision" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Division</h6>
<!--          <a class="collapse-item" href="">All Division</a>-->
          <RouterLink class="collapse-item" to="/all_division">All Division</RouterLink>
        </div>
      </div>
    </li>

    <hr class="sidebar-divider text-center">
<!--    <div class="version" id="version-ruangadmin">District</div>-->
    <div class="sidebar-heading">
      District
    </div>
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBootstrap"
         aria-expanded="true" aria-controls="collapseBootstrap">
        <i class="far fa-fw fa-window-maximize"></i>
        <span>District</span>
      </a>
      <div id="collapseBootstrap" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Division</h6>
          <!--          <a class="collapse-item" href="">All Division</a>-->
          <RouterLink class="collapse-item" to="/districts">All District</RouterLink>
        </div>
      </div>
    </li>
  </ul>

</template>

<script>
import { RouterLink } from 'vue-router'
export default {
  name: "sidebar",
  components: {},


}
</script>

<style scoped>

</style>