<template>
  <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top" style="width: 1310px">
    <ul class="navbar-nav ml-auto">
      <div class="topbar-divider d-none d-sm-block"></div>
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          <img class="img-profile rounded-circle" src="../../assets/admin_panel/img/boy.png" style="max-width: 60px">
          <span class="ml-2 d-none d-lg-inline text-white small">Md. Thorat Islam</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
          <a class="dropdown-item" href="#">
            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
            Profile
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="" data-toggle="modal" data-target="#logoutModal">
            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
            Logout
          </a>
        </div>
      </li>
    </ul>
  </nav>

</template>

<script>
export default {
  name: "TopBar"
}
</script>

<style scoped>

</style>