<script >
import Sidebar from "@/components/layout/sidebar.vue";
import TopBar from "@/components/layout/TopBar.vue";
export default {
  components: {TopBar, Sidebar},
}
</script>
<template>
  <div id="wrapper">
    <Sidebar />
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <TopBar/>
        <RouterView />
      </div>
     <Footer />
    </div>
  </div>
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
</template>

<style scoped>

</style>
