<template>
  <div class="row">
    <form class="col-md-8" @submit.prevent="insertData">
      <div class="form-row">
        <div class="form-group col-md-4">
          <select class="form-control form-control-sm mb-3" v-model="cboDivision">
            <option selected disabled  value="0">Division select</option>
            <option v-for="(dropdown,index ) in dropdown_arr" v-bind:value="dropdown.id" >
              {{dropdown.name}}
              &nbsp;-&nbsp;
              {{dropdown.bng_name}}
            </option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <input type="text" class="form-control form-control-sm" id="txtDisName" v-model="txtDisName" placeholder="Name" >
        </div>
        <div class="form-group col-md-4">
          <input type="text" class="form-control form-control-sm" id="txtDisBangName" v-model="txtDisBangName" placeholder="বাংলা নাম">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <input type="number" class="form-control form-control-sm" id="nbrDisEstablished" v-model="nbrDisEstablished" placeholder="Established">
        </div>
        <div class="form-group col-md-4">
          <input type="text" class="form-control form-control-sm" id="txtDisISO" v-model="txtDisISO" placeholder="ISO">
        </div>
        <div class="form-group col-md-4">
          <input type="text" class="form-control form-control-sm" id="txtDisHDI" v-model="txtDisHDI" placeholder="HDI">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <input type="number" class="form-control form-control-sm" id="nbrDisPostCode" v-model="nbrDisPostCode" placeholder="POST Code">
        </div>
      </div>

      <button type="submit" class="btn btn-primary float-right">{{ submitBtton }}</button>
    </form>

    <div class="col-md-4">
      <transition name="fade" mode="in-out">

        <div v-if="alertSuccess == true" class="alert alert-success alert-dismissible" role="alert">
          {{response.message}}
        </div>
        <div v-else-if="alertDanger == true" class="alert alert-danger alert-dismissible" role="alert">
          {{response.message}}
        </div>
        <div v-else-if="errors.length">
          <ul>
            <li class="text-danger" v-for="error in errors" > {{ error }} </li>
          </ul>
        </div>

      </transition>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import {defineComponent, inject,ref, watch} from 'vue';
import Loding from "@/components/loding.vue";

export default defineComponent(
{
  name: "add_district",
  components: {Loding},
  // Select Data Recived this props
  props: {
    district: {
      type: Object,
      default: null
    }
  },
  data()
  {
    return {
      rootApi           : '',
      dropdown_arr      : [],
      cboDivision       : 0,
      txtDisName        : '',
      txtDisBangName    : '',
      nbrDisEstablished : '',
      txtDisISO         : '',
      txtDisHDI         : '',
      nbrDisPostCode    : '',
      errors            : [],
      response          : null,
      alertSuccess      : false,
      alertDanger       : false,
      submitBtton       : "Save",

      loading: true,
    };
  },//Data End

  setup()
  {
    const rootApi = inject('rootApi');
    return {
      rootApi,
    };
  },//Setup End

  methods : 
  {
    division_dropdown()
    {
      this.loading = true;
      axios.get(this.rootApi + `/division_dropdown`).then((response) => {
        this.dropdown_arr = response.data;
        this.loading = false;
      });

    },

    async insertData(event)
    {
      event.preventDefault(); //For Update Event
      this.errors = [];
      alert(this.submitBtton );
      if (this.submitBtton === "Save")
      {
        if (this.cboDivision === 0) { this.errors.push('Division select required.'); }
        else if (!this.txtDisName){this.errors.push('Name required.'); }
        else if (!this.txtDisBangName){this.errors.push('Bangla Name required.'); }
        else if (!this.nbrDisEstablished){this.errors.push('Established required.');}
        else if (!this.txtDisISO){this.errors.push('ISO required.');}
        else if (!this.txtDisHDI){this.errors.push('HDI required.');}
        else if (!this.nbrDisPostCode){this.errors.push('Post Code required.');}
        else
        {
          try
          {
            const response = await axios.post(this.rootApi + '/districts',
                {
                  cboDivision         : this.cboDivision,
                  dis_name            : this.txtDisName,
                  dis_bng_name        : this.txtDisBangName,
                  dis_established     : this.nbrDisEstablished,
                  dis_iso             : this.txtDisISO,
                  dis_hdi             : this.txtDisHDI,
                  nbrDisPostCode      : this.nbrDisPostCode,
                });
            this.response = response.data.message;
            // alert(this.response);
            this.response = {message: this.successAlert(this.response)};
            this.$emit('getDistricts');

            this.resetForm();
          }
          catch (error)
          {
            // console.log(error);
            this.response = {message: this.errorAlert()};
          }
        }
        
      }
      else if ( this.submitBtton === "Update")
      {
          try {
                const response = await axios.put(this.rootApi + '/districts/' + this.districtId,
                {
                  cboDivision         : this.cboDivision,
                  dis_name            : this.txtDisName,
                  dis_bng_name        : this.txtDisBangName,
                  dis_established     : this.nbrDisEstablished,
                  dis_iso             : this.txtDisISO,
                  dis_hdi             : this.txtDisHDI,
                  nbrDisPostCode      : this.nbrDisPostCode,
                });
                this.response = response.data.message;
                this.response = {message: this.successAlert(this.response)};
                this.$emit('getDistricts');
                this.resetForm();
            this.loading = false;
          }
          catch (error)
          {
            this.response = {message: this.errorAlert()};
          }
      }
    },
  
    successAlert(massage)
    {
      this.alertSuccess = true;
      setTimeout(() => {
        this.alertSuccess = false;
      }, 5000);
      return massage;
    },
    errorAlert()
    {
      this.alertDanger = true;
      setTimeout(() => {
        this.alertDanger = false;
      }, 5000);
      return "Invalid Oparetion";
    },
    resetForm()
    {
      this.cboDivision        = 0;
      this.txtDisName         = "";
      this.txtDisBangName     = "";
      this.nbrDisEstablished  ="";
      this.txtDisISO          ="";
      this.txtDisHDI          ="";
      this.nbrDisPostCode     ="";
      this.submitBtton        = "Save";
    },
  },//methods End

  created() 
  {
    // this.insertData()
    this.division_dropdown();

  },
})
</script>

<style scoped>
input[type='number'] {
  -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

</style>