<template>
  <tbody v-if="districts_arr.length > 0">
    <loding v-if="loading" />
    <tr v-for="(district,index ) in districts_arr" :key="district.id">
      <td v-if="index === 0 || district.division_id !== districts_arr[index-1].division_id" :rowspan="countDuplicates(district)">
        {{ district.division_id}}
      </td>

      <td v-if="index === 0 || district.division_id !== districts_arr[index-1].division_id" :rowspan="countDuplicates(district)">
        {{ district.division }}
      </td>

      <td>{{ district.name }}</td>
      <td>{{ district.bng_name }}</td>
      <td>{{ district.established }}</td>
      <td>{{ district.iso }}</td>
      <td>{{ district.hdi }}</td>
      <td>
        <p v-if="district.status_active == 1" class="text-success text-center">Active</p>
        <p v-if="district.status_active == 0" class="text-danger text-center">InActive</p>
      </td>
      <td>
        <button class="btn btn-outline-danger btn-sm mr-2" @click="showConfirmation(district.id)" >
          <i class="fas fa-trash-alt"></i>
        </button>
        <button class="btn btn-outline-info btn-sm" @click="$emit('edit:district',
        {
          id            :district.id,
          name          :district.name,
          division_id   :district.division_id,
          bng_name      :district.bng_name,
          iso           :district.iso,
          hdi           :district.hdi,
          post_code     :district.post_code
        })
        "> <i class="fas fa-pen-alt"></i></button>

        <!--        ====================Confirmation alert===================-->
        <div class="confirmation-alert" v-if="show">
          <h2>Are you sure you want to delete this item?</h2>
          <div class="btn btn-group-toggle ">
            <button @click="confirm" class="btn btn-light btn-outline-success btn-sm mr-4">
              <i class="fas fa-check-square"></i></button>
            <button @click="cancel" class="btn btn-danger btn-outline-success btn-sm mr-4"><i class="fas fa-xbox"></i></button>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
  <div v-else class="text-danger">{{data_not_found.message}}</div>

  <!-- Confirmation alert -->

</template>
<script>
import axios from "axios";
import { defineComponent, inject } from 'vue';

import Loding from "@/components/loding.vue";

export default defineComponent({
      name: "districts_list",
      components: { Loding },
      data() {
        return {
          districts_arr: [],
          rootApi: '',
          data_not_found: { message: "" },
          loading: true,
          show: false,
          districtToDeleteId: null
        };
      },
      setup() {
        const rootApi = inject('rootApi');
        return {
          rootApi,
        };
      },
      methods: {
        getDistricts()
        {
          this.loading = true;
          try{
          axios.get(`${this.rootApi}/districts`)
              .then((response) => {
              this.districts_arr = response.data
            });
          } catch (error)
          {
            console.log(error);
            this.data_not_found = {massage:"Not"}
          } finally {
            this.loading = false;
          }
        },

        districts_delete(id)
        {

          this.loading = true;
          try
          {

            axios.delete(this.rootApi + '/districts/'+id).then((response) =>
                {
                  this.getDistricts();
                });
          } catch (error)
          {
            console.log(error);
          } finally {
            this.loading = false;
          }
        },
        showConfirmation(id)
        {
          // alert(id);
          this.districtToDeleteId = id;
          this.show = true;
        },
        confirm()
        {
          this.districts_delete(this.districtToDeleteId);
          this.show = false;
          this.districtToDeleteId = null;
        },
        cancel()
        {
          this.show = false;
          this.districtToDeleteId = null;
        },
        countDuplicates(item)
        {
          let count = 1;
          for (let i = 0; i < this.districts_arr.length; i++) {
            if (this.districts_arr[i].division_id === item.division_id && this.districts_arr[i].id !== item.id) {
              count++;
            }
          }
          return count;
        },

      },
  created() {
    this.getDistricts();
  },
});
</script>

<style scoped>
.confirmation-alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -150%);
  /*background-color: #fc9d78;*/
  background-color: rgba(48, 56, 61, 0.97);
  opacity: 1.5;
  transform-style: flat;
  border: 1px solid #f2f2f2;
  padding: 20px;
  /*box-shadow: 0 0 10px rgba(99, 119, 109, 0.5);*/
  box-shadow: 0 0 10px #88E0AD7F;
}
h2 {
  margin: 0;
  font-size: 24px;
  color: lightcyan;
  font-style: oblique;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

button:last-child {
  margin-right: 0;
}
</style>