<template>
    <div class="row">
      <form class="col-md-8" @submit.prevent="submitForm">
        <div class="form-row">
          <div class="form-group col-md-4">
            <input type="text" class="form-control form-control-sm" id="txtName" v-model="txtName" placeholder="Name" >
          </div>
          <div class="form-group col-md-4">
            <input type="text" class="form-control form-control-sm" id="txtBangName" v-model="txtBangName" placeholder="বাংলা নাম">
          </div>
          <div class="form-group col-md-4">
            <input type="number" class="form-control form-control-sm" id="nbrEstablished" v-model="nbrEstablished" placeholder="Established">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <input type="text" class="form-control form-control-sm" id="txtISO" v-model="txtISO" placeholder="ISO">
          </div>
          <div class="form-group col-md-4">
            <input type="text" class="form-control form-control-sm" id="txtHDI" v-model="txtHDI" placeholder="HDI">
          </div>
        </div>

        <button type="submit" class="btn btn-primary float-right">Submit</button>
      </form>
      <div class="col-md-4">
        <transition name="fade" mode="in-out">

          <div v-if="alertSuccess == true" class="alert alert-success alert-dismissible" role="alert">
            {{response.message}}
          </div>
          <div v-else-if="alertDanger == true" class="alert alert-danger alert-dismissible" role="alert">
            {{response.message}}
          </div>
          <div v-else-if="errors.length">
            <ul>
              <li class="text-danger" v-for="error in errors">{{ error }}</li>
            </ul>
          </div>

        </transition>

      </div>
    </div>
</template>

<script>
import axios from "axios";
import {inject} from "vue";
export default {
  name: "add_division",
  data() {
    return {
      division_data: '',
      txtName: '',
      txtBangName: '',
      nbrEstablished: '',
      txtISO: '',
      txtHDI: '',
      errors: [],
      response: null,
      alertSuccess: false,
      alertDanger: false,
      rootApi: '',
    }
  },
  setup() {
    const rootApi = inject('rootApi');
    return {
      rootApi,
    };
  },
  methods: {
    async submitForm()
    {
      this.errors = [];

      if (!this.txtName){this.errors.push('Name required.'); }
      else if (!this.txtBangName){this.errors.push('Bangla Name required.'); }
      else if (!this.nbrEstablished){this.errors.push('Established required.');}
      else if (!this.txtISO){this.errors.push('ISO required.');}
      else if (!this.txtHDI){this.errors.push('HDI required.');}
      else
      {
        try
        {
          const response = await axios.post(this.rootApi + '/divisions',
              {
                name: this.txtName,
                bng_name: this.txtBangName,
                established: this.nbrEstablished,
                iso: this.txtISO,
                hdi: this.txtHDI
              });
          this.response = response.data.message;
          // alert(this.response);
          this.response = {message: this.successAlert(this.response)};
          this.$emit('getDivisions');
          this.resetForm();
        }
        catch (error)
        {
          // console.log(error);
          this.response = {message: this.errorAlert()};
        }
      }
    },
    successAlert(massage)
    {
      this.alertSuccess = true;
      setTimeout(() => {
        this.alertSuccess = false;
      }, 5000);
      return massage;
    },
    errorAlert()
    {
      this.alertDanger = true;
      setTimeout(() => {
        this.alertDanger = false;
      }, 5000);
      return "Invalid Oparetion";
    },
    resetForm()
    {
      this.txtName = "";
      this.txtBangName = "";
      this.nbrEstablished = "";
      this.txtISO = "";
      this.txtHDI = "";
    },
  },

}
</script>

<style scoped>
 input[type='number'] {
  -moz-appearance:textfield;
}
 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
</style>