<template>
    <div class="col-xl-3 col-md-3 mb-4">
      <div class="card gradient_clr_div text-white">
        <div class="card-body float-left" >
          Total Division
          <div v-for="(count ) in division_count" :key="count.id" class="text-white text-end float-right" >{{count.div_count}}</div>
        </div>
      </div>
    </div>
</template>

<script>

import axios from "axios";
import {inject} from "vue";

export default {
  name: "dashboard_summary_info",
  data() {
    return {
      division_count: [],
      district_count: [],
      loading: true,
      rootApi: '',
    };
  },
  setup() {
    const rootApi = inject('rootApi');
    return {
      rootApi,
    };
  },
  methods: {
    division_summary()
    {
      this.loading = true;
      try
      {
        // alert(this.rootApi + "/division/count");
        axios.get(this.rootApi + '/divission_count').then((response) =>
        {
          this.division_count = response.data
        });
      } catch (error)
      {
        console.log(error);
      } finally {
        this.loading = false;
      }
    },
    districts_summary()
    {
      this.loading = true;
      try
      {
        // alert(this.rootApi + "/division/count");
        axios.get(this.rootApi + '/districts_count').then((response) =>
        {
          this.district_count = response.data
        });
      } catch (error)
      {
        console.log(error);
      } finally {
        this.loading = false;
      }
    },
  },
  created() {
    this.division_summary();
    this.districts_summary();
  },
};

</script>

<style scoped>
.gradient_clr_div
{
  background: #0f2027;
  background: -webkit-linear-gradient(to right, #0f2027, #203a43, #2c5364);
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);

}
.gradient_clr_dis{
  background: #c31432; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #c31432, #240b36); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #c31432, #240b36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
</style>