<template>
  <tbody v-if="division_arr != ''" >
    <loding v-if="loading"/>
    <tr v-for="(division,index ) in division_arr" :key="division.id" >
      <td>{{ index+1 }}</td>
      <td>{{ division.name }}</td>
      <td>{{ division.bng_name }}</td>
      <td>{{ division.name }}&nbsp; </td>
      <td>{{ division.established }}</td>
      <td>{{ division.iso }}</td>
      <td>{{ division.hdi }}</td>
      <td >
        <p v-if="division.status_active == 1" class="text-success text-center">Active</p>
        <p v-if="division.status_active == 0" class="text-danger text-center">InActive</p>
      </td>
      <td>
        <button class="btn btn-outline-danger btn-sm mr-2" @click="showConfirmation" >
          <i class="fas fa-trash-alt"></i>
        </button>
        <button class="btn btn-outline-info btn-sm"> <i class="fas fa-pen-alt"></i></button>

        <!--        ====================Confirmation alert===================-->
        <div class="confirmation-alert" v-if="show">
          <h2>Are you sure you want to delete this item?</h2>
          <div class="btn btn-group-toggle ">
            <button @click="confirm(division.id)" class="btn btn-light btn-outline-success btn-sm mr-4">
              <i class="fas fa-check-square"></i></button>
            <button @click="cancel" class="btn btn-danger btn-outline-success btn-sm mr-4"><i class="fas fa-xbox"></i></button>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
  <div v-else class="text-danger ">{{data_not_found.message}}</div>

</template>
<script>
import axios from "axios";
import {defineComponent, inject} from 'vue';

import Loding from "@/components/loding.vue";

export default defineComponent({
  name: "division_data_list",
  components: { Loding },
  data() {
    return {
      division_arr: [],
      rootApi: '',
      data_not_found: [],
      loading: true,
      show: false,
    };
  },
  setup() {
    const rootApi = inject('rootApi');
    return {
      rootApi,
    };
  },
  methods:
      {
        getDivisions()
        {
          this.loading = true;
          try
          {
            axios.get(this.rootApi + '/divisions').then((response) =>
            {
              this.division_arr = response.data
            });
          } catch (error)
          {
            console.log(error);
          } finally {
            this.loading = false;
          }
        },
        division_delete(id)
        {

          this.loading = true;
          try
          {
            // alert(this.rootApi + '/divisions'+id);
            axios.delete(this.rootApi + '/divisions/'+id)
                .then(() =>
            {
              this.getDivisions();
            });
          } catch (error)
          {
            console.log(error);
          } finally {
            this.loading = false;
          }
        },
        showConfirmation()
        {
          this.show = true

        },
        confirm(id) {
          this.division_delete(id);
          this.show = false
        },
        cancel() {
          // handle cancellation logic here
          this.show = false
        }
      },
      created() {
        this.getDivisions();
      },
});
</script>

<style scoped>
.confirmation-alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -150%);
  /*background-color: #fc9d78;*/
  background-color: rgba(48, 56, 61, 0.97);
  opacity: 0.5;
  transform-style: flat;
  border: 1px solid #f2f2f2;
  padding: 20px;
  /*box-shadow: 0 0 10px rgba(99, 119, 109, 0.5);*/
  box-shadow: 0 0 10px #88E0AD7F;
}
h2 {
  margin: 0;
  font-size: 24px;
  color: lightcyan;
  font-style: oblique;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

button:last-child {
  margin-right: 0;
}
</style>