<template>
  <div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">All Division List</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
<!--          <a href="/">Dashboard</a>-->
          <RouterLink to="/">Dashboard</RouterLink>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Division</li>
      </ol>
    </div>
        <add_division @getDivisions="callGetDivisions" />
    <br>
    <div class="row">
      <div class="col-lg-12 p-0">
      <div class="card mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">DataTables</h6>
        </div>
        <div class="table-responsive p-3">
          <table class="table align-items-center table-flush" id="datatable" width="950">
            <thead class="thead-light">
              <tr>
                <th width="40">#</th>
                <th width="150">Name</th>
                <th width="150">বাংলা নাম</th>
                <th width="150">Capital</th>
                <th width="100">Established</th>
                <th width="40">ISO</th>
                <th width="60">HDI</th>
                <th width="120">Status Active</th>
<!--                <th width="120">Is Delete</th>-->
                <th width="140">Action</th>
              </tr>
            </thead>
            <Division_data_list ref="divisionDataList"/>
          </table>
        </div>
      </div>
    </div>
    </div>
  </div>
</template>

<script>
import Division_data_list from "@/components/divisions/division_data_list.vue";
import Add_division from "@/components/divisions/add_division.vue";

export default {
  name: "all_division",
  components: {Add_division, Division_data_list},
  data(){
    return {
      division_arr: [],
      loading: true
    };
  },
  methods:
      {
    callGetDivisions() {
      this.$refs.divisionDataList.getDivisions();
    }
  }
}
</script>

<style scoped>

</style>