<template>
  <div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
      </ol>
    </div>
    <div class="row mb-3 ">
      <dashboard_summary_info />
    </div>

  </div>

</template>

<script>

import Dashboard_summary_info from "@/components/divisions/dashboard_summary_info.vue";

export default {
  name: "Dashboard",
  components: {Dashboard_summary_info},

}
</script>

<style scoped>

</style>