<template>
  <div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">All Districts List</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <!--          <a href="/">Dashboard</a>-->
          <RouterLink to="/">Dashboard</RouterLink>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Districts</li>
      </ol>
    </div>
<!--    <add_district @getDistricts="callGetDistricts" :district="selectedDistrict" @insertData="editData"/>-->
<!--    <add_district ref="addDistrictComponent" @getDistricts="callGetDistricts" :district="selectedDistrict" @insertData="editData"/>-->
<!--    <add_district ref="addDistrictComponent" @getDistricts="callGetDistricts" :district="selectedDistrict" @submit="editData($event)" />-->
    <add_district
        ref="addDistrictComponent"
        @getDistricts="callGetDistricts"
        :district="selectedDistrict"
        @submit="editData($event)"
        :selectedDistrict="selectedDistrict"
    />
    <br>
    <div class="row">
      <div class="col-lg-12 p-0">
        <div class="card mb-4">
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">DataTables</h6>
          </div>
          <div class="table-responsive p-3">
            <table class="table align-items-center table-flush" id="datatable" width="950">
              <thead class="thead-light">
              <tr>
                <th width="40">#</th>
                <th width="110">Division Name</th>
                <th width="100">Name</th>
                <th width="100">বাংলা নাম</th>
<!--                <th width="100">Capital</th>-->
                <th width="100">Established</th>
                <th width="40">ISO</th>
                <th width="60">HDI</th>
                <th width="150">Status Active</th>
                <th width="150">Action</th>
              </tr>
              </thead>
              <districts_list ref="districtsDataList" @edit:district="editData" />
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Add_district from "@/components/Dristrict_comp/add_district.vue";
import Districts_list from "@/components/Dristrict_comp/districts_list.vue";

export default {
  name: "Districts",
  components: {Districts_list, Add_district},
  data(){
    return {
      district_arr: [],
      loading: true,
      selectedDistrict: null
    };
  },
  methods:
      {
        callGetDistricts() {
          this.$refs.districtsDataList.getDistricts();
        },
        editData(district)
        {
          // Select Data for update
          this.$refs.addDistrictComponent.districtId          = district.id;
          this.$refs.addDistrictComponent.cboDivision         = district.division_id;
          this.$refs.addDistrictComponent.txtDisName          = district.name;
          this.$refs.addDistrictComponent.txtDisBangName      = district.bng_name;
          this.$refs.addDistrictComponent.nbrDisEstablished   = district.established;
          this.$refs.addDistrictComponent.txtDisISO           = district.iso;
          this.$refs.addDistrictComponent.txtDisHDI           = district.hdi;
          this.$refs.addDistrictComponent.txtDisHDI           = district.hdi;
          this.$refs.addDistrictComponent.nbrDisPostCode      = district.post_code;

          this.$refs.addDistrictComponent.submitBtton = "Update";
        }
      }
}
</script>

<style scoped>

</style>